.banner {
  height: 300px;
  margin: 40px;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  width: 1200px;
}

.loder-cont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teamMatchesContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list-of-matches {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-between;
  align-items: center;
}

.rcb {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.kkr {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.kxp {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}

.csk {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.rr {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.mi {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}

.sh {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}

.dc {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.latest {
  color: white;
  font-family: 'Bree Serif';
  text-align: left;
}
